/* Reset and basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Ovo", serif;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;
}

.page {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page0 {
  background-color: black;
  transition: opacity 1s ease;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  color: white;
}

.page0-hidden {
  opacity: 0;
}

.no-scroll {
  overflow-y: hidden;
}

.page0-image-spinner {
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page1 {
  background-image: url("https://assets.apps-madhani.com/ess/user/yXhf594.jpg");
  transition: opacity 8s ease;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  background-size: cover;
  filter: brightness(80%);
  color: white;
  width: 100%;
  justify-content: space-around;
  scroll-snap-align: start;
}

.page1-header {
  color: white;
}

.page1-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.page1-footer-guest-misspell-apologize {
  font-size: x-small;
}

.page1-footer-heartbeat-button {
  width: 50%;
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem;
  background-color: whitesmoke;
  color: black;
  border: none;
  cursor: pointer;
  animation: heartbeat 3s infinite;
}
@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.2); /* Grow slightly */
  }
}

.page2 {
  position: relative;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  scroll-snap-align: start;
}
.page2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://assets.apps-madhani.com/ess/user/yXhf80.jpeg") center/cover no-repeat;
  filter: brightness(80%);
  z-index: 0;
}
.page2 > * {
  position: relative;
  z-index: 1;
}

.page3 {
  background-image: url("https://assets.apps-madhani.com/ess/user/yXhf603.jpg");
  background-size: cover;
  filter: brightness(80%);
  scroll-snap-align: start;
}

/* Responsive text */
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
